* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Slab, sans-serif;
}

body {
    background-color: rgb(245, 214, 219);
}



header {
    background-color: rgb(235, 156, 235);
    align-items: center;
    display: flex;
    justify-content: center;
}

header h1 {
    color: #ffffff;
    padding: 16px;
    margin: 0 auto;
}

.carta {
    background-color: #f3d9e7;
}

.container {
    max-width: 1024px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.container-h1 {
    margin-top: 20px;
}

.container-text {
    margin-bottom: 10px;
    padding: 8px;
    font-weight: bold;
    font-style: italic;
}

.container-text-2 {
    margin-bottom: 10px;
    padding: 8px;
    font-weight: bold;
    font-style: italic;
    color:rgb(235, 156, 235) ;
}

.ul-link {
    list-style: none;
    margin-top: 30px;
    display: block;
    font-style: italic;
}

.section-link {
    color:#000;
    text-decoration: none;
    font-weight: bold;
}

.menu {
    display: flex;                
    gap: 30px;                    
    padding: 10px;                 
}

.menu a {
    padding: 10px 0;              
    display: inline-block;
} 


.image-her {
    width: 200px;
    margin-left: 20px;
}

.images {
    display: block;
    margin-top: 30px;
}




@media (max-width: 767px) {
    .menu {
        flex-direction: column; /* Muda o menu para coluna em telas menores */
        gap: 15px; /* Ajusta o espaço entre os elementos do menu */
    }

    .container {
        width: 100%; /* Ocupa toda a largura da tela em dispositivos móveis */
        padding: 10px; /* Ajusta o padding para telas menores */
    }

    .images {
        gap: 8px; /* Ajusta o espaço entre imagens para dispositivos móveis */
    }

    .image-her {
        width: 100%; /* Faz com que as imagens ocupem toda a largura disponível */
        max-width: 260px;
        padding: 20px;
    }

    header {
        padding: 10px; /* Reduz o padding em dispositivos menores */
    }

    header h1 {
        font-size: 1.5em; /* Ajusta o tamanho da fonte para ser mais legível */
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em; /* Ajusta o tamanho da fonte para telas muito pequenas */
    }

    .container-text, .container-text-2 {
        font-size: 0.9em; /* Reduz o tamanho do texto para telas menores */
    }

    .menu a {
        font-size: 0.9em; /* Ajusta o tamanho do texto dos links */
    }
}

